<nav>
     <div class="nav-wrapper">
       <a href="#!" class="brand-logo">Annual Leave Assistant</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li>
           <a href="/user-page" *ngIf="isLogged">Edit profile</a>
         </li>

         <li class="input-field inline">
           <a href="./login" *ngIf="!isLogged"><i class="material-icons">portrait</i></a>
         </li>

         <li>
           <a href="#!" *ngIf="isLogged" (click)="logout()">
             <i class="material-icons">exit_to_app</i>
           </a>
         </li>
       </ul>
     </div>
</nav>
