<nav>
  <ul>
    <li class="input-field inline">
      <a href="./login" *ngIf="!isLogged" [class.activated]="currentUrl == '/login'">
        <i class="material-icons">portrait</i></a>
    </li>


    <li>
      <a href="/user-page" *ngIf="isLogged" [class.activated]="currentUrl == '/user-page'">
        <i class="material-icons">account_circle</i>
      </a>
    </li>
    <li>
      <a href="#!" *ngIf="isLogged" (click)="logout()">
        <i class="material-icons">exit_to_app</i>
      </a>
    </li>
    <li>
      <a routerLink="users" *ngIf="isLogged" [class.activated]="currentUrl == '/users'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="leaveRequests" *ngIf="isLogged" [class.activated]="currentUrl == '/leaveRequests'">
        <i class="material-icons">library_books</i>
      </a>
    </li>
    <li>
      <a routerLink="leaveRequestTypes" *ngIf="isLogged" [class.activated]="currentUrl == '/leaveRequestTypes'">
        <i class="material-icons">message</i>
      </a>
    </li>
  </ul>
</nav>
