<div class="col-md-12">
  <h4>>Leave request list</h4>
  <a class="waves-effect waves-light btn-small isd-btn" (click)="addLeaveRequest()">Add Leavea Request</a>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Leave request type</th>
      <th>From</th>
      <th>To</th>
      <th>Request date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let leaveRequest of leaveRequests">
      <td>{{leaveRequest.id}}</td>
      <td>{{leaveRequest.user}}</td>
      <td>{{leaveRequest.leaveRequestType}}</td>
      <td>{{leaveRequest.startDate}}</td>
      <td>{{leaveRequest.endDate}}</td>
      <td>{{leaveRequest.requestDate}}</td>
      <td>{{leaveRequest.status}}</td>
      <td><a class="waves-effect waves-light btn-small isd-btn" *ngIf="leaveRequest.status === 'pending'"  (click)="approve(leaveRequest.id, leaveRequest.user_id, leaveRequest.leaveRequestTypeId, leaveRequest.startDate, leaveRequest.endDate)">Approve</a></td>
      <td><a class="waves-effect waves-light btn-small isd-btn" (click)="updateLvReq(leaveRequest.id, leaveRequest.user_id, leaveRequest.leaveRequestTypeId, leaveRequest.startDate, leaveRequest.endDate)">Edit</a></td>
      <td><a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteLvReq(leaveRequest.id)">Delete</a></td>
      <td><a class="waves-effect waves-light btn-small isd-btn" (click)="download(leaveRequest.id, leaveRequest.user.surname, leaveRequest.user.name, leaveRequest.leaveRequestType.name)">Download</a></td>
    </tr>
    </tbody>
  </table>
  <a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteAllLvReqs(leaveRequest.id)">Remove all</a>
</div>
