<div class="col-md-12">
  <h4>>Leave request list</h4>
  <button matTooltip="Create leave request" class="material-icons" (click)="addLeaveRequest()">add</button>

  <input type="text" class="col-md-6" placeholder="search by name" [(ngModel)]="queryString">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Leave request type</th>
      <th>From</th>
      <th>To</th>
      <th>Period(days)</th>
      <th>Request date</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let leaveRequest of leaveRequests | filterdata: queryString : 'user' ; ">
      <td>{{leaveRequest.id}}</td>
      <td>{{leaveRequest.user}}</td>
      <td>{{leaveRequest.leaveRequestType}}</td>
      <td>{{leaveRequest.startDate}}</td>
      <td>{{leaveRequest.endDate}}</td>
      <td>{{leaveRequest.period}}</td>
      <td>{{leaveRequest.requestDate}}</td>
      <td>{{leaveRequest.status}}</td>

      <td><button matTooltip="Approve" class="material-icons"  *ngIf="isAdmin() && leaveRequest.status === 'pending'"  (click)="approve(leaveRequest.id, leaveRequest.user_id, leaveRequest.leaveRequestTypeId, leaveRequest.startDate, leaveRequest.endDate)">check</button></td>
      <td><button matTooltip="Edit leave request" class="material-icons" *ngIf="leaveRequest.status != 'approved'" (click)="updateLvReq(leaveRequest.id, leaveRequest.user_id, leaveRequest.leaveRequestTypeId, leaveRequest.startDate, leaveRequest.endDate)">edit</button></td>
      <td><button matTooltip="Delete leave request" class="material-icons" *ngIf="leaveRequest.status != 'approved'" (click)="deleteLvReq(leaveRequest.id)">delete</button></td>
      <td><button matTooltip="Download doc" class="material-icons" (click)="download(leaveRequest.id, leaveRequest.user, leaveRequest.leaveRequestType)">cloud_download</button></td>
    </tr>
    </tbody>
  </table>
</div>
