<div class = "col-sm-6 offset-sm-3">
  <h2 class = "text-center"> Registration Form </h2>
  <form name="myForm" role="form" novalidate (ngSubmit)="registrateUser(editForm)" #editForm="ngForm">
    <div class = "form-group">
      <label for = "email"> Email: </label>
      <input type = "email" [(ngModel)] = "email" #email2="ngModel" placeholder="Email" name = "email" class="form-control" id="email" required [email] = "email !== ''">
      <span class = "help-block" *ngIf="email2.errors?.required && email2.touched"> Email is required </span>
      <span class = "help-block" *ngIf="email2.errors?.email && email2.touched"> Email is invalid </span>
    </div>

    <div class = "form-group">
      <label for = "password"> Password: </label>
      <input type = "password" [(ngModel)] = "password"  placeholder="Password" name = "password" class="form-control" id="password" required>
    </div>

    <button class="btn btn-success" type = "submit">Login</button>
  </form>
  <p> {{request_message}}</p>
</div>
