<div>
  <h4> > Create leave request</h4>
  <form class="container" ngValidate (ngSubmit)="create()">
    <table class="striped">
      <tbody>
      <tr>
        <td>

          <select class="browser-default" [(ngModel)]="reqType" name="reqTypes" required>
            <option value="" disabled selected>Choose your option</option>
            <option *ngFor="let leaveRequestType of leaveRequestTypes" [ngValue]="leaveRequestType['id']">{{leaveRequestType["name"]}}</option>

          </select>
          <label class="isd-lbl">Leave request type</label>
        </td>

      </tr>
      <tr>
        <td>
          <span id="daysOff" *ngIf="reqType == 1">Available number of days: <b>{{daysOff}}</b></span>
        </td>

        <td>
          <span>You selected: <b>{{datesDiff}}</b> days</span>
        </td>
      </tr>

      <tr>
        <td>
          <input class="isd-lbl" type="date" [disabled]='disableTextbox' [(ngModel)]="startDate" name="startDate" id="startDate" (change)="dateChange()" required>
          <label class="isd-lbl" for="startDate">From</label>
        </td>
        <td>
          <input class="isd-lbl" type="date" [disabled]='disableTextbox' [(ngModel)]="endDate" name="endDate" id="endDate" (change)="dateChange()" required>
          <label class="isd-lbl" for="endDate">To</label>
        </td>

      </tr>

      <tr>
        <td colspan="2" class="center" *ngIf="reqType == 1">
          <span>You will have: {{daysOff - datesDiff}} days left</span>
        </td>
      </tr>
      <td align="right">
        <button class="center" class="material-icons" type="submit">check</button>
      </td>

      </tbody>
    </table>
  </form>
</div>

