<div class="col-md-6">
  <h2 class="text-center">Edit Leave Request Type</h2>
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>


    <div class="form-group">
      <label for="description">Description</label>
      <input formControlName="description" placeholder="description" name="description" class="form-control" id="description">
    </div>

    <button matTooltip="Save" class="material-icons">save</button>
  </form>
</div>
