div{
  padding-top: 1%;
}

h4{
  padding-left: 20%;
}

ul{
  width: 50%;
  border:none;
  /*border-radius: 16px;*/
}

.avatar{
  background-color: lightgrey;
}

span{
  font-weight: bold;
}

p{
  font-weight: normal;
}
