<div class="blue-grey lighten-5">
  <h4>> Leave request types</h4>
  <ul class="collection container">
    <li class="collection-item avatar blue-grey lighten-5" *ngFor="let requestType of list">
      <!--<i class="material-icons circle blue-grey">chevron_right</i>-->
      <span class="title">{{requestType["name"]}}</span>
      <p>
        {{requestType["description"]}}
      </p>
      <a href="#!" class="secondary-content" title="Click to create a request of this type"><i class="material-icons">add_circle</i></a>
    </li>
  </ul>
</div>
