<div>
  <h4>> Leave request types</h4>
  <button class="btn isd-btn" (click)="addRequestType()"> Add Request Type</button>
  <ul class="collection container">
    <li class="collection-item avatar blue-grey lighten-5" *ngFor="let requestType of list">
      <!--<i class="material-icons circle blue-grey">chevron_right</i>-->
      <span class="title">{{requestType["name"]}}</span>
      <p>
        {{requestType["description"]}}
      </p>
      <button class="button isd-btn-danger" (click)='deleteRequestType(requestType)'>Delete</button>
      <!--<a href="#!" class="secondary-content" title="Click to create a request of this type"><i class="material-icons">add_circle</i></a>-->
    </li>
  </ul>
</div>
