<div class="col-md-12">
  <h4>>Employees list</h4>
  <a class="waves-effect waves-light btn-small isd-btn" (click)="addUser()">Add user</a>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Employment Date</th>
      <th>Department</th>
      <th>Post</th>
      <th>Available Days</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.empDate}}</td>
      <td>{{user.department}}</td>
      <td>{{user.function}}</td>
      <td>{{user.availDays}}</td>
      <td><button class="waves-effect waves-light btn-small isd-btn" (click)="addLeaveRequest(user.id)">Create leave request</button></td>
      <td><a class="waves-effect waves-light btn-small isd-btn" (click)="updateUser(user)">Edit</a></td>
      <td><a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteUser(user)">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteAllUsers()">Remove all</a>
</div>
