<div class="col-md-12">
  <h4>>Employees list</h4>
  <button class="material-icons mat-tooltip:'Add user'" (click)="addUser()">add</button>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Email</th>
      <th>Employment Date</th>
      <th>Department</th>
      <th>Post</th>
      <th>Available Days</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.empDate}}</td>
      <td>{{user.department}}</td>
      <td>{{user.function}}</td>
      <td>{{user.availDays}}</td>
      <td><button class="material-icons" (click)="addLeaveRequest(user.id)">add</button></td>
      <td><button class="material-icons" (click)="updateUser(user)">edit</button></td>
      <td><button class="material-icons" (click)="deleteUser(user)">delete</button></td>
    </tr>
    </tbody>
  </table>
  <button class="material-icons" (click)="deleteAllUsers()">delete</button>
</div>
