<div class="col-md-12">
  <h4>>Holidays list</h4>
  <button matTooltip="Create holiday" class="material-icons" *ngIf="isAdmin()" (click)="addHoliday()">add</button>
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{holiday.id}}</td>
      <td>{{holiday.name}}</td>
      <td>{{holiday.date}}</td>
      <td><button matTooltip="Edit holiday" class="material-icons" *ngIf="isAdmin()" (click)="editHoliay(holiday)">edit</button></td>
      <td><button matTooltip="Delete holiday" class="material-icons" *ngIf="isAdmin()" (click)="openDialog(holiday)">delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
