<div class="col-md-12">
  <h4>>Holidays list</h4>
  <a class="waves-effect waves-light btn-small isd-btn" (click)="addHoliday()">Add Holiday</a>
  <table>
    <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{holiday.id}}</td>
      <td>{{holiday.name}}</td>
      <td>{{holiday.date[2]}}-{{holiday.date[1]}}-{{holiday.date[0]}}</td>
      <td><a class="waves-effect waves-light btn-small isd-btn" (click)="updateHoliday(holiday.id)">Edit</a></td>
      <td><a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteHoliday(holiday.id)">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <a class="waves-effect waves-light btn-small isd-btn-danger" (click)="deleteAllHolidays()">Remove all</a>
</div>
