<div class="blue-grey lighten-5">
  <h4>> Authentication</h4>
  <form class="container isd-lbl-login" ngNativeValidate (ngSubmit)="login()">

    <div class="input-field isd-lbl-login">
      <i class="material-icons prefix isd-lbl-login">email</i>
      <input class="isd-lbl-login" type="email" [(ngModel)]="email" name="email" id="email" required>
      <label class="isd-lbl-login" for="email">Email</label>
    </div>

    <div class="input-field isd-lbl-login">
      <i class="material-icons prefix isd-lbl-login">vpn_key</i>
      <input class="isd-lbl-login" type="password" [(ngModel)]="password" name="password" id="password" required>
      <label class="isd-lbl-login" for="password">Password</label>
    </div>

    <div class="right">
      <button matTooltip="Login" type="submit" class="material-icons">how_to_reg</button>
      <div class="divider"></div>
      <button matTooltip="Register" [routerLink]="['/register']" class="material-icons">person_add</button>
    </div>
  </form>
</div>
