<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body>

<div ng-app="hello" ng-controller="homepage">
    <h3> Registration form:</h3>
    <form name = "userForm" ng-submit = "createUser()">
        <label for = "email"> Email: </label>
        <input type = "text" name = "email2" id="email" placeholder = "Enter email" ng-model = "email">
        <label for = "name"> Name: </label>
        <input type = "text" name = "name" id="name" placeholder = "Enter name" ng-model = "name">
        <label for = "role"> Role: </label>
        <input type = "text" name = "role" id="role" placeholder = "Enter role" ng-model = "role">
        <button type = "submit"> Submit </button>
    </form>

    <p> Your id in database is: {{result.id}}</p>
    <p> {{postErrorMessage}}</p>
</div>
<!--<script src="..\js\hello.js"></script>-->
<script>
    var app = angular.module('hello',[]);
    app.controller('homepage', function($scope,$http) {
        $scope.listUser = [];

        $scope.createUser = function() {
            var data = {
                email: $scope.email,
                name: $scope.name,
                role: $scope.role
            };
            console.log(data);

            $http.post("/create", angular.toJson(data)).then(function (response) {
                $scope.result = response.data;
            }, function error(response) {
                $scope.postErrorMessage = "Error with status" + response.statusText;
            });
        }

        // $http.get('/hello-angularjs/').then(function(response) {
        //     //$scope.data = data2;
        //     console.log(response.data);
        //     $scope.retrieveData = response.data;
        // })
    });
</script>
</body>
</html>