<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
</head>
<body>
<div ng-app="login" ng-controller="loginController">
    <h3> Login: </h3>
    <form name = "loginForm" ng-submit = "login()">
        <label for = "email"> Email: </label>
        <input type = "text" id = "email" name = "email" placeholder="Enter email:" ng-model = "email">
        <label for = "name"> Name: </label>
        <input type = "text" id = "name" name = "name" placeholder="Enter name:" ng-model = "name">
        <button type = "submit"> Submit </button>
    </form>
</div>

<script>
    var app = angular.module('login', []);
    app.controller('loginController', function($scope, $http, $location) {

        $scope.login = function() {
            var data = {
                email: $scope.email,
                name: $scope.name
            };

            $http.post("/login", data).then(function(response) {
                console.log(response);
            });

        }
    });
</script>
</body>
</html>