/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color: #2d2e2e;
}
.isd-btn {
  background-color: #2d2e2e;
  border: 0px !important;
  font-weight: bold;
}
.isd-btn:hover {
  background-color: #ff7400;
}

.isd-btn-danger {
  background-color: #2d2e2e;
  border: 0px !important;
  font-weight: bold;
}
.isd-btn-danger:hover {
  background-color: red;
}

.isd-lbl {
  color: #2d2e2e !important;
  border-bottom-color: #2d2e2e !important;
  -webkit-box-shadow: unset !important;
}
.isd-lbl:hover{
  color: #ff3300;
}
.isd-lbl:focus{
  font-weight: bold;
  color: #dd1f02 !important;
}
.isd-lbl-login:focus {
  color: #ff7400 !important;
  border-bottom-color: #ff7400 !important;
  -webkit-box-shadow: unset !important;
}
.isd-lbl-login:read-only {
  color: #2d2e2e !important;
  border-bottom-color: #2d2e2e !important;
  -webkit-box-shadow: unset !important;
}
.isd-lbl-login:focus{
  font-weight: bold;
  color: #dd1f02 !important;
}
/*.isd-lbl-login:active {*/
  /*color: #ff3300 !important;*/
  /*border-bottom-color: #ff3300 !important;*/
  /*-webkit-box-shadow: unset !important;*/
/*}*/
.isd-lbl-login:hover {
  color: #ff3300 !important;
  border-bottom-color: #ff3300 !important;
  -webkit-box-shadow: unset !important;
}
#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;
  font-weight: bold;
  color: #2d2e2e;
}
#container #content {
  padding: 30px 50px;
}
#container #content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#container #content ul li {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
}
#container #content ul li a {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  color: #2d2e2e;
}
#container #content ul li ul {
  margin-top: 20px;
}
#container #content ul li ul li {
  padding: 0;
}
#container #content ul li ul li a {
  font-size: 1em;
  font-weight: 300;
  color: #2d2e2e;
}

.divider{
  width: 5px;
  height: auto;
  display: inline-block;
}

.dividerH{
  width: 20px;
  height: auto;
  display:block;
}
