<div class="blue-grey lighten-5">
  <h4>> Registration form</h4>
  <form class="container" ngNativeValidate (ngSubmit)="register()">
    <div class="row">
      <div class="input-field col s6">
        <input class="isd-lbl-login" type="text" [(ngModel)]="surname" name="surname" id="surname" required>
        <label class="isd-lbl-login" for="surname">Surname</label>
      </div>
      <div class="input-field col s6">
        <input class="isd-lbl-login" type="text" [(ngModel)]="name" name="name" id="name" required>
        <label class="isd-lbl-login" for="name">Name</label>
      </div>
    </div>

    <div class="input-field">
      <input class="isd-lbl-login" type="email" [(ngModel)]="email" id="email" name="email" required>
      <label class="isd-lbl-login" for="email">Email</label>
    </div>

    <div class="input-field">
      <input class="isd-lbl-login" type="password" [(ngModel)]="password" id="password" name="password" required>
      <label class="isd-lbl-login" for="password">Password</label>
    </div>

    <div class="input-field">
      <input class="isd-lbl-login" type="password" [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" required compare-to="password">
      <label class="isd-lbl-login" for="confirmPassword">Confirm password</label>
    </div>

    <div class="input-field">
      <input class="isd-lbl-login" type="text" [disabled]="disableTextbox" [(ngModel)]="function_" name="function_" id="function_">
      <label class="isd-lbl-login" for="function_">Function</label>
    </div>
    <div class="input-field">
      <input class="isd-lbl-login" type="text" [disabled]="disableTextbox" [(ngModel)]="department" name="department" id="department">
      <label class="isd-lbl-login" for="department">Department</label>
    </div>

    <div class="input-field left">
      <input class="isd-lbl-login" type="date" [(ngModel)]="empDate" id="empDate" name="empDate" required>
      <label class="isd-lbl-login" for="empDate">Employment date</label>
    </div>

    <div class="right">
      <button matTooltip="Save" type="submit" class="material-icons">save</button>
      <div class="divider"></div>
      <button matTooltip="Cancel" (click)="cancel()" class="material-icons">cancel</button>
    </div>
  </form>
</div>
